.intro {
    // background-color: #070606;
    // flex: direction;
    // display: flex;
    // align-content: flex-start;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
  }