body {
    // background-color: #020202;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .Buttons {
    // display: flex;

    // background-color: #020202;
  }

// .nav-wrapper {
//   background-color: #ffffff;
// }

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.subheader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.CTA {
  display: flex;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}