body {
    // background-color: #020202;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

// .Buttons {
//   display: flex;
//   justify-content: center;
//   align-content: space-between;
// }

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.preloader-background {
  display: flex;
	align-items: center;
	justify-content: center;
	background-color:#e0f7fa;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.subheader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.CTA {
  display: flex;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
.aboutme {
  display: flex;
  justify-content: flex-end;
}