.aboutme {
    display: flex;
    justify-content: flex-end;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
